<% if signed_in? %>
  <%= render 'shared/signedin' %>
   <section>
      <%= render 'shared/user_info' %>
   </section>
   <section>
      <%= render 'shared/stats' %>
   </section>
<% else %>
  <%= render 'shared/notsignedin' %>
<% end %>
